/*@media screen and (max-width: 1800px){

	.mobile{
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}
}*/

@media screen and (max-width: 800px){


	.container{
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}
	
	.l5 { 
		position: relative; 
		text-align: center;
		font-size: 25px;
		top: 20%;
  
}


html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 30;
  color:hotpink;
  background-color:white;
  background: url(./bunny.jpg);
}

.container {
	font-size: 20px;
	height: 80%;
	width: 100%;
    position: absolute;
    text-align: center;
    color: black;
}

p {
    position: absolute;
    top: 258px;
    left: 16px;
	color: black;
}
.centered {
	padding:50px;
	padding-top: 110px;
	padding-bottom: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background: url(./bunny-ears.png);
	background-repeat: no-repeat;
    background-position: 69% -1%;
	background-size: 200px;
	text-align: center;
	font-size: 50px;
	color: hotpink;
} 

	.twotwo { 
    position: relative; 
	text-align: center;
	font-size: 25px;
    top: 20%;
}

	.bottom-left {
		position: absolute;
		bottom: 0px;
		left: 16px;
	}
	
	.top-left {
		position: absolute;
		top: 8px;
		left: 16px;
	}
	
	.top-right {
		position: absolute;
		top: 8px;
		right: 16px;
	}
	
	.bottom-right {
		position: absolute;
		bottom: 0px;
		right: 16px;
	}

a:link {
    text-decoration: none;
	color: hotpink;
}

a:visited {
    text-decoration: none;
	color: hotpink;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

h1{	
	font-family: 'Allura', script;
}

h2{	
	margin:0;
	font-family: 'Allura', script;
    text-shadow: 2px 2px #ff00ff;
}

h5{	
	margin:0;
    text-shadow: 2px 2px #ff0000;
	font-family: 'Allura', script;
}

h6{	
	margin:0;
	font-size:15px;
}

.header {
	text-align: center;
	font-size: 25px;
}

.div1 {
    width: 260px;
    padding: 15px;
/*    border: 1px solid red;*/
	font-size:17.5px;
	box-sizing: border-box;
	background-color: rgba(1, 1, 1, 0.7);
}
.div2 {
    width: 200px;
    padding: 15px;
/*    border: 1px solid red;*/
	font-size:17.5px;
	box-sizing: border-box;
	background-color: rgba(1, 1, 1, 0.7);
}
.div3 {
    width: 370px;
    padding: 15px;
/*    border: 1px solid red;*/
	font-size:17.5px;
	box-sizing: border-box;
	background-color: rgba(1, 1, 1, 0.7);
    text-align: justify;
	left: 50%
}
.div4 {
    width: 370px;
    padding: 15px;
/*    border: 1px solid red;*/
	font-size:17.5px;
	box-sizing: border-box;
	background-color: rgba(1, 1, 1, 0.7);
}
/*.btn {
	background: url(./heart.png);
	background-size: 150px;
	background-repeat: no-repeat;
	border: 1px;
	height: 150px;
	color: #000;
	padding: 50px 10px;
	text-decoration: none; 
}*/